<div class="heading">
  <div class="row">
    <div class="col-lg-2">
      <a class="navbar-brand" routerLink="/admin">iSlot</a>
    </div>
    <div class="col-lg-8">
      <h2>iSlotters for the month </h2>
    </div>
    <div class="row head">
    <div class="monthdiv"> 
        <label  for="month">Choose another month:</label>
        
            <select id="month" class="form-control" class="forms-group" formControlName="month" name="month" (ngmodel)="month">
             
                <option value="01 2018" default>Jan 2018</option>
                <option value="02 2018">Feb 2018</option>          
                <option value="03 2018">Mar 2018</option>
                <option value="04 2018">Apr 2018</option>          
                <option value="05 2018">May 2018</option>
                <option value="06 2018">Jun 2018</option>
                <option value="07 2018">Jul 2018</option>
                <option value="08 2018">Aug 2018</option>
                <option value="09 2018">Sep 2018</option>
                <option value="10 2018">Oct 2018</option>
                <option value="11 2018">Nov 2018</option>
                <option value="12 2018">Dec 2018</option>
             
          </select> 
    </div><br>

    <div class="container">
    </div><br>
    <div class="row head">
      <div class="row">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Java Script</h5>
                <br>
                <span class="card-text" id="first"> sudheer : </span><span class="glyphicon glyphicon-flash" ></span>
                
                <br>
                <span class="card-text" id="second"> kumar : </span><span class="glyphicon glyphicon-flash"  id="flash"></span>
                
                <br>
                <span class="card-text" id="third"> kishore : </span><span class="glyphicon glyphicon-flash" ></span>
                                <br>
               
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Angular</h5>
                <br>
                <span class="card-text" id="first"> Antar : </span><span class="glyphicon glyphicon-flash" id="flash"></span>
                <br>
                <span class="card-text" id="second"> Shinu : </span><span class="glyphicon glyphicon-flash"  id="flash"></span>
                <br>
                <span class="card-text" id="third"> Karthik : </span><span class="glyphicon glyphicon-flash" ></span>
                <br>
               
            </div>
        </div>
    </div>
  </div>
</div>
</div>
