<link href="https://fonts.googleapis.com/css?family=IM+Fell+English+SC|Spirax|Ubuntu" rel="stylesheet">

<div class="heading">
  <div class="row">
    <div class="col-lg-3">
      <a class="navbar-brand" routerLink="/admin" data-toggle="tooltip" title="Home">iSlot</a>
    </div>
    <div class="col-lg-6">
      <h2>Locations Management</h2>
    </div>
  </div>
</div>
<br>
<div class="container">
  <form [formGroup]="location1" #formData='ngForm'>
    <div class="row">
      <div class="col-lg-4"></div>
      <div class="col-lg-4">
        <div class="form-group">
          <input type="text" class="form-control" id="name" name="name" (ngmodel)="name" autocomplete="off"
            formControlName="name" placeholder="Add a new location">
          <div class="alert alert-danger" *ngIf="location1.get('name').touched && location1.get('name').invalid">Please
            enter a Location </div>
            <br>
          <button class="btn btn-primary" style="width: 80px;" (click)="onSubmit(formData)">Add</button>
        </div>
      </div>
      <div class="col-lg-4"></div>
    </div>

    <div class="row">
      <div class="col-lg-1"></div>
      <div class="col-lg-10">
        <div class="item col-lg-3" id="tile" *ngFor="let key of locationsarray" data-toggle="tooltip"
          title="{{ key.name }}">
          <button type="button" class="glyphicon glyphicon-trash btn btn-danger" data-toggle="tooltip"
            title="Delete Location" (click)="deleteLocation(key)">
          </button>
          <span>{{ key.name }}</span>
        </div>
      </div>
      <div class="col-lg-1"></div>
    </div>
  </form>
</div>
