.navbar-brand {
  font-size: 30px;
  margin: 10px 10px 0px 10px;
  font-family: 'Ubuntu', sans-serif;
}
.heading {
  color: #23527c;
  text-align: center;
  font-family: 'IM Fell English SC', serif;
  background-color: rgb(13, 32, 41);
}

#tile {
  margin-left: 50px;
}

.item {
    height: 20vh;
    width: 10vw;
    margin: 10px 5px 10px 5px;
    border: 1px solid transparent;
    background-color: #44B6B8;
    border-radius: 25px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    transition-duration: .5s;
    transition-timing-function: ease;
    transition-delay: 5ms;
}

.btn {
  width: 40px;
  position: relative;
}

.item:hover {
    box-shadow: 4px 4px 4px 2px #4b4b4b;
}