<div class="heading">
  <div class="row">
    <div class="col-lg-2">
      <a class="navbar-brand" routerLink="/admin">iSlot</a>
    </div>
    <div class="col-lg-6">
      <h2>{{ eventToBeViewed[0].name }}</h2>
    </div>
  </div>
</div>

<div class="row">
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <ul class="nav nav-tabs">
      <li role="presentation" class="active">
        <a routerLink="/admin/view-event">View</a>
      </li>
      <li role="presentation">
        <a routerLink="/admin/update-event">Update</a>
      </li>
    </ul>
  </nav>
</div>

<div class="row">
  <div class="container-fluid">
    <div *ngFor="let key of eventToBeViewed">
      <table class="table table-bordered">
        <thead>
          <tr>
            <th>Slot Start Time</th>
            <th>Slot End Time</th>
            <th>Interviewer Name</th>
            <th>Number of Interviewers</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let key2 of key.slots">
            <td>{{key2.slotStartTime}}</td>
            <td>{{key2.slotEndTime}}</td>
            <td>{{key2.interviewers[0].name}}</td>
            <td><span class="label label-info">{{key2.interviewers.length}}</span></td>
            <td><a routerLink="/admin/update-event/{{key.key}}"><button class="btn btn-success">Update</button></a></td>
          </tr>
        </tbody>
      </table>
      <br>
    </div>
  </div>
</div>