<nav class="navbar navbar-inverse">
  <div class="container-fluid" id="tile">
    <div class="navbar-header">
      <a class="navbar-brand" routerLink="/admin">iSlot</a>
    </div>
    <ul class="nav navbar-nav navbar-right">
      <li><a routerLink="skills-management"><span class="glyphicon glyphicon-option-vertical"></span></a></li>
    </ul>
  </div>
</nav>
<form [formGroup]="skills1" #formData='ngForm' (ngSubmit)="onSubmit(formData)">
  <div class="form-group">
    <input type="text" class="form-control" id="name" name="name" (ngmodel)="name" formControlName="name" placeholder="Add a new skill">
    <!-- <div class="alert alert-danger" *ngIf="skills.get('name').touched && skills.get('mySkill').invalid">Please enter the skill
    </div> -->
    <input class="button" type="submit" value="Add">
  </div>

  <div class="row">
    <div class="item col-lg-3" id="tile" *ngFor="let key of skillsarray">
      <button type="button" class="btn btn-default btn-sm">
        <span class="glyphicon glyphicon-trash"></span>
      </button>
      <span>{{key.name}}</span>

    </div>
  </div>
</form>