/* 
   
.col-lg-12 {
  background-color: black;
}

form {
  box-shadow: 0px 0px 8px grey;
  padding-left: 25px;
  padding-right: 100px;
  padding-top: 25px;
  padding-bottom: 25px;
  background-color: #35B1B3;
}
   
#skills{
  border:2px solid black;
  width:200px;
  margin-left:150px;
}

span{
    font-size:bold;
}

.fieldname{
  display: flex;
} */


nav {
    background-color:skyblue;
    padding:10px;
    text-align: center;
    width:100%;
  }
  
  .navbar-brand {
    font-size:30px;
    margin-top: 10px;
    font-family: 'Spirax', cursive;
  }
  
  h2 {
    color: #23527c;
    text-align: center;
    font-family: 'IM Fell English SC', serif;
  }
  
  .heading{
    background-color:rgb(13, 32, 41);
    height: 75px;
  }
  
  .container-fluid {
    background-color: #44B6B8;
    text-align: center;
    margin-top: 0px;
    width: 1583px;
    height: 720px;
    overflow-x: hidden;
  }
  
  #centerContent {
    border:2px;
    box-shadow: 0px 0px 8px gray;
    border-radius: 5px;
    background-color: #35B1B3;
  }
  
  .row {
    width: 1583px;
    scroll-behavior: none;
  }
  
  #location{
    width:225px;
    margin-left: 0px; 
    height: 34px;  
  }
  
  #skills{
    border:2px solid black;
    width:200px;
    margin-left:150px;
  }
  
  .col-lg-2 {
    width: 225px;
  }
  
  .col-lg-8 {
    text-align: center;
    width:100%;
  }
  
  .btn.btn-primary {
    margin-top: 7px;
    margin-right: 15px;
    margin-left: 10px; 
  }
  
  #textField {
    padding-left: 0px;
    margin-right: 10px;
  }
  
  i {
    font-size:25px;
    padding-right: 15px;
  }
  
  input {
    width:225px;
  }
  